<% layout('./layouts/boilerplate.ejs')-%>
<div class="row">
    <div class="col-6 offset-3 mt-3" >
        <h2>SignUp for WanderLust</h2>
        <form method="POST" action="/signup">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text"name="username" class="form-control "required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">EmailId</label>
                <input type="email" name="emailid" class="form-control "required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control "required>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">SignUp</button>
            </div>
        
        
        </form>

    </div>
</div>